[submodule "SS14.GithubApiHelper"]
	path = SS14.GithubApiHelper
	url = git@github.com:juliangiebel/SS14.GithubApiHelper.git
[submodule "SS14.BuildRunner"]
	path = SS14.BuildRunner
	url = git@github.com:juliangiebel/SS14.BuildRunner.git
